.new {
    padding: 100px 0 ;

    .line {
        margin: 40px auto;
        width: 140px;
        height: 3px;
        background: #fff;
    }

    .general_card {
        display: flex; 
        align-items: center; 
        justify-content: space-around;
        flex-wrap: wrap; 
    }
    
}


.generalCard {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  @media (max-width: 500px) {
    .generalCard {
      display: block;
      align-items: center;
      justify-content: center;
      margin: auto;
    }
  }
  